body{
    padding: 100px;
    background-color: gainsboro;
}

h1{
    color: grey;
}

input{
    height: 100%;
    width: 100%;
}

textarea{
    width: 100%;
    height: 90%;
}

.spacing{
    margin-bottom: 5%;;
}

button{
    width:100%;
}

textarea{
    border-radius: grey;
}

